// CSS
:root {
  --background-color: rgba(28, 178, 215, 0.655);
}

html {
  font-family: Lato, Arial, Georgia;
  background-color: rgba(11, 116, 133, 0.655);
}
#editor,
#preview {
  display: block;
  margin: auto;
  position: absolute;
  background-color: rgba(221, 236, 240, 0.655);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  z-index: 10;
}
#editor {
  top: 60px;
  bottom: auto;
  left: 30px;
  right: 30px;
  height: 200px;
}
#preview {
  top: 350px;
  bottom: auto;
  left: 30px;
  right: 30px;
  height: 200px;
}
#editor_window h4 {
  display: block;
  margin: auto;
  position: absolute;
  top: 30px;
  left: 40px;
  right: 30px;
  z-index: 5;
  background-color: rgb(14, 151, 144);
  margin-left: -10px;
  padding-left: 20px;
  margin-top: -10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 510px;
}
#preview_window h4 {
  display: block;
  margin: auto;
  position: absolute;
  top: 320px;
  left: 40px;
  right: 30px;
  z-index: 5;
  background-color: rgb(14, 151, 144);
  margin-left: -10px;
  padding-left: 20px;
  margin-top: -10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 510px;
}
h4 {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
